@model ProjectManagementSystem.ViewModels.PMS02001.PMS02001ListViewModel
@using ProjectManagementSystem.Common;
@using ProjectManagementSystem.Resources;

@{
    ViewBag.Title = "取引先検索";
    Layout = "~/Views/Shared/_LayoutSelect.cshtml";
}

<div class="search-dialog-content">
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
        <div class="search-form">
            <div class="search-condition row">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.IS_MULTI_SELECT)
                    @Html.HiddenFor(m => m.Condition.PROJECT_ID)
                    @Html.HiddenFor(m => m.SearchByObject)

                    @Html.Label("", "取引先名", new { @class = "bold right" })
                    @Html.TextBoxFor(m => m.Condition.DISPLAY_NAME, new { style = "ime-mode: auto;", @class = "", maxlength = 50 })

                    @Html.Label("", "取引先名（カナ）", new { @class = "bold right customer_name_kana" })
                    @Html.TextBox(m => m.Condition.CUSTOMER_NAME_KATA, new { style = "ime-mode: auto;", @class = "", maxlength = 50 })

                    @Html.CheckBoxFor(m => m.Condition.DELETED_INCLUDE, new { @class = "condition_chkbox", @style = "visibility:hidden;" })
                </div>
            </div>
            <div class="right search-action">
                <button type="button" id="btnSearch" name="btnSearch" class="btn dark"><i class="btn-icon btn-search"></i>検索</button>
                <button type="button" id="btnClear" name="btnClear" class=" btn light"><i class="btn-icon btn-clear"></i>クリア</button>
            </div>
        </div>
    </section>

    @RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

    <div class="data-list content clearfix">
        <table id="InfoTableSelect" class="display" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>No.</th>
                    <th aria-valuetext="display_name">取引先名</th>
                    <th aria-valuetext="customer_name_kana">取引先名（カナ）</th>
                    <th aria-valuetext="address">住所</th>
                    <th aria-valuetext="url">URL</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="customer-list-select-footer search-date clearfix">
    <input id="search_displayName" name="search_displayName" type="hidden">
    <input id="search_customerNameKata" name="search_customerNameKata" type="hidden">
    <button id="btnCancel" name="btnCancel" class="btn light pull-left">キャンセル</button>
    <button id="btnSelect" name="btnSelect" class="btn dark btn-select pull-left">選択</button>
</div>

<script type="text/javascript" charset="utf-8">
    var sort_colum = 0;

    $(function () {
        PMS.utility.imeControl($("#input:textbox"), 'active');
        
        var oSorting = {
            "bSort": true
        };
        var oPaginate = {
            "bPaginate": true,
            "iDisplayLength": parseInt(@App[ConfigurationKeys.LIST_ITEMS_PER_PAGE]),
            "bStateSave": false
        };
        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("Search", "PMS02001")',
            "fnBeforeSend": beforeSend,
            "fnServerParams": serverParams,
            "fnDrawCallback": displayComplete
        };
        var aoColumnDefs = [
            { "sName": "upd_date", "bVisible": false, "aTargets": [0] },
            { "sName": "upd_date", "bSortable": false, "aTargets": [1], "sWidth": "4%", "sClass": "cell_right" },
            { "sName": "display_name", "aTargets": [2], "sWidth": "24%", "sClass": "cell_left", "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data); } },
            { "sName": "customer_name_kana", "aTargets": [3], "sWidth": "24%", "sClass": "cell_left", "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data); } },
            { "sName": "address", "aTargets": [4], "sWidth": "24%", "sClass": "cell_left", "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data); } },
            { "sName": "url", "aTargets": [5], "sWidth": "24%", "sClass": "cell_left", "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data); } }
        ];

        var dataTable = CreateDataTable('#InfoTableSelect', oSorting, oPaginate, oServerSide, aoColumnDefs);

        function beforeSend() {
        }

        function serverParams(aoData) {
            aoData.push(
                { "name": "DISPLAY_NAME", "value": $("#search_displayName").val() },
                { "name": "CUSTOMER_NAME_KATA", "value": $("#search_customerNameKata").val() },
                { "name": "PROJECT_ID", "value": $("#Condition_PROJECT_ID").val() },
                { "name": "DELETED_INCLUDE", "value": $("#Condition_DELETED_INCLUDE").prop('checked') },
                { "name": "SearchByObject", "value": $("#SearchByObject").val()}
            );
        }

        function displayComplete() {
            $('div.customer-list').removeAttr('style');
            $("#onloadDiv").hide();
            $('.pace.pace-active').addClass('pace-inactive').removeClass('pace-active');
            $('#btnSearch').removeAttr('disabled');
        }

        function saveDataCondition() {
            $("#search_displayName").val($("#Condition_DISPLAY_NAME").val());
            $("#search_customerNameKata").val($("#Condition_CUSTOMER_NAME_KATA").val());
        }

        function validateData() {
            var invalidMess = [];
            // check valid
            var displayName = $('#Condition_DISPLAY_NAME').val();
            var customerNameKata = $('#Condition_CUSTOMER_NAME_KATA').val();

            if (displayName.length > 50) {
                invalidMess.push("@string.Format(Messages.E020, "取引先名", "50")");
            }
            if (customerNameKata.length > 50) {
                invalidMess.push("@string.Format(Messages.E020, "取引先名カナ", "50")");
            }
            return invalidMess;
        }

        function searchCustomer() {
            $('.validation-summary-errors').remove();
            var invalidMess = validateData();

            if (invalidMess.length > 0) {
                PMS.utility.showClientError(invalidMess);
                return false;
            }

            saveDataCondition();

            $('.pace.pace-inactive').removeClass('pace-inactive').addClass('pace-active');
            $("#onloadDiv").show(function () {
                dataTable.fnPageChange('first');
            });
            $('#btnSearch').attr('disabled', 'disabled');
        }

        $(document).off('#InfoTableSelect tr th');
        $(document).on('click', '#InfoTableSelect tr th', function () {
            sort_colum = $(this).index() + 1;
        });

        $("button#btnSearch").click(function () {
            searchCustomer();
        });

        $("button#btnClear").click(function () {
            $("#Condition_DISPLAY_NAME").val("");
            $("#Condition_CUSTOMER_NAME_KATA").val("");
        });

        $(document).bind('keypress', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) { //Enter keycode
                searchCustomer();
            }
        });

        dataTable = $('#InfoTableSelect').dataTable();

        $("#InfoTableSelect tbody").click(function (event) {
            if ($('#IS_MULTI_SELECT').val().length > 0) {
                if ($(event.target).parents('tr').hasClass('selected-row'))
                    $(event.target).parents('tr').removeClass('selected-row');
                else
                    $(event.target).parents('tr').addClass('selected-row');
            } else {
                dataTable.$('tr.selected-row').removeClass('selected-row');
                $(event.target).parents('tr').addClass('selected-row');
            }
        });

        $("button#btnSelect").click(function () {
            if (typeof dataTable.$('tr.selected-row')[0] === 'undefined') {
                PMS.utility.showMessageDialog(PMS.utility.htmlDecode('@Constant.DialogType.WARNING'), '選択されていません。');
            } else {
                var res = new Array();

                dataTable.$('tr.selected-row').each(function (index) {
                    selected_row = dataTable.fnGetData(
                        dataTable.$('tr.selected-row')[index]
                    );
                    res.push({
                        CUSTOMER_ID: PMS.utility.nvl(selected_row[0], ""),
                        CUSTOMER_NAME: PMS.utility.nvl(selected_row[2], "")
                    });
                });
                @if( !string.IsNullOrEmpty(Model.CallBack)){
                    @("parent." + Model.CallBack + "(res); ")
                }
                parent.tb_remove();
            }
        });

        $('#InfoTableSelect tbody').on('dblclick', 'tr', function () {
            var selected_row = dataTable.fnGetData(this);

            var res = new Array();
            res.push({
                CUSTOMER_ID: PMS.utility.nvl(selected_row[0], ""),
                CUSTOMER_NAME: PMS.utility.nvl(selected_row[2], "")
            });

            @if( !string.IsNullOrEmpty(Model.CallBack)){
                    @("parent." + Model.CallBack + "(res); ")
            }
            parent.tb_remove();
        });

        $("button#btnCancel").click(function () {
            var res;
            @if( !string.IsNullOrEmpty(Model.CallBack)){
                @("parent." + Model.CallBack + "(res); ")
            }
            parent.tb_remove();
        });
    });
</script>
