@using ProjectManagementSystem.Resources;
@using ProjectManagementSystem.Common;
@model ProjectManagementSystem.ViewModels.PMS06001.PMS06001ActualWorkViewModel

@Scripts.Render("~/bundles/dragOn")

@{
    ViewBag.Title = "稼働実績内訳";
}

<section class="content-header actual-work-header">
    <h1>@ViewBag.Title</h1>
    <div class="search-form">
        <div class="search-condition row">
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("所属", new { @class = "right bold" })
                    <label class="short-text text-overflow" title="@Model.GROUP_NAME">@Model.GROUP_NAME</label>
                </div>
                <div class="col-xs-8">
                    @Html.Label("ユーザー名", new { @class = "right bold" })
                    <label class="short-text text-overflow user_name" title="@Model.USER_NAME">@Model.USER_NAME</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("プロジェクト名", new { @class = "right bold" })
                    <label class="short-text text-overflow project_name" title="@Model.PROJECT_NAME">@Model.PROJECT_NAME</label>
                </div>
                <div class="col-xs-8">
                    @Html.Label("期間", new { @class = "right bold" })
                    <label class="short-text text-overflow" title="@Model.DURATION">@Model.DURATION</label>
                </div>
            </div>
        </div>
    </div>
</section>

@RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

<div class="data-list actual-work-detail content clearfix" style="visibility:hidden">
    <div class="col-left">
        <table class="tb-left dataTable" width="100%">
            <thead>
                <tr class="tb-header">
                    <th>ID</th>
                    <th style="width:70px;">No.</th>
                    <th style="width:100px;">フェーズ</th>
                    <th style="width:100px;">実績工数</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-right">
        <table class="tb-right dataTable" width="100%">
            <thead>
                <tr class="tb-header"></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div>
        @Html.DropDownListFor(m => m.TIME_UNIT, new SelectList(Constant.TimeUnit.Items, "Key", "Value"), new { @class = "time-unit" })
    </div>
</div>

<div class="search-date left">
    <button type="button" id="btnBack" name="btnBack" class="btn light btnNoStyleDisable"><i class="btn-icon btn-back"></i>戻る</button>
</div>

<script type="text/javascript">
    $(function () {
        $('.col-right').dragOn();

        var oSorting = {
            "bSort": true
        };
        var oPaginate = {
            "bPaginate": false,
            "iDisplayLength": @int.MaxValue,
            "bStateSave": false
        };
        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("SearchActualWork", "PMS06001")',
            "fnServerParams": serverParams,
            "fnDrawCallback": displayComplete,
            "fnInitComplete": bindData
        };
        var aoColumnDefs = [
            { "sName": "display_order", "bSortable": false, "bVisible": false, "aTargets": [0], "sWidth": "0%", "sClass": "cell_left" },
            { "sName": "display_order", "bSortable": false, "aTargets": [1], "sWidth": "15%", "sClass": "cell_center" },
            {
                "sName": "display_order", "aTargets": [2], "sWidth": "45%", "sClass": "cell_left"
                , "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data, 'phase-name'); }
            },
            { "sName": "display_order", "bSortable": false, "aTargets": [3], "sWidth": "40%", "sClass": "cell_center" }
        ];

        var dataTable = CreateDataTable('.tb-left', oSorting, oPaginate, oServerSide, aoColumnDefs);

        function serverParams(aoData) {
            aoData.push(
                { "name": "PROJECT_ID", "value": @Model.PROJECT_ID },
                { "name": "USER_ID", "value": @Model.USER_ID },
                { "name": "FROM_DATE", "value": '@Model.FROM' },
                { "name": "TO_DATE", "value": '@Model.TO' },
                { "name": "TIME_UNIT", "value": $('#TIME_UNIT').val() }
            );
        }

        function displayComplete() {
            $('div.actual-work-detail').removeAttr('style');
            $("#onloadDiv").hide();
        }

        function bindData(data) {
            var colums = PMS.utility.getMonthCols('@Model.FROM', '@Model.TO');
            var htmlRight = '';

            setColumArr(colums);

            if (data.rightList.length > 0) {
                for (var i = 0; i < data.rightList.length; i++) {
                    var bgRow = i % 2 == 0 ? 'odd' : 'even';

                    htmlRight += '<tr class="' + bgRow + '">';

                    for (var j = 0; j < colums.length; j++) {
                        htmlRight += '<td class="center">' + data.rightList[i][j] + '</td>';
                    }

                    htmlRight += '</tr>';
                }
            }

            $('.tb-right tbody tr').remove();
            $('.tb-right tbody').append(htmlRight);
        }

        function setColumArr(colums) {
            var html = '';

            for (var i = 0; i < colums.length; i++) {
                html += '<th class="th-month">' + colums[i] + '</th>';
            }

            $('th.th-month').remove();
            $('.tb-right thead tr.tb-header').append(html);
        }

        $(document).off('#TIME_UNIT');
        $(document).on('change', '#TIME_UNIT', function () {
            $("#onloadDiv").show();
            dataTable.fnPageChange('first');
        });

        $("button#btnBack").click(function () {
            if ($(this).data('clicked') === true) {
                return;
            }
            $(this).data('clicked', true);
            
            var isFrom = '@HttpContext.Current.Session["PMS06001_Actual_Work_From"]';
            if (isFrom == 'Detail') {
                window.location.href = '/PMS06001/Detail';
            }

            if (isFrom == 'ActualWorkListByIndividualPhase') {
                var prevPage = 
                $.ajax({
                    type: "POST",
                    url: '/Common/SetButtonBackSession',
                    dataType: 'json',
                    data: null,
                    success: function () {
                        window.location.href = '/PMS06002/ActualWorkListByIndividualPhase';
                    },
                    error: function (error) {
                    }
                });
            }
        });
    });
</script>
