@{
    ViewBag.Title = "プロジェクト登録履歴";
    Layout = "~/Views/Shared/_LayoutSelect.cshtml";
}

<header id="header" class="main-header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a>
            <img class="logo" src="/Images/logo_reissue.png">
        </a>
    </nav>
</header>

<div class="callout clearfix project-history">
    <h1 class="title" id="title">@ViewBag.Title</h1>

    <div class="form-group bold">
        ※値が増加した個所は
        <span class="rise">青字</span>
        で、値が削除または減少した箇所は
        <span class="reduce">赤字</span>
        で表示されます。
    </div>

    <div class="color-description">&nbsp;</div>

    <div class="form-group bold">
        <label class="col-md-1">登録日時</label>
        <select id="dllHistory"></select>
    </div>

    <div id="historyContent">
        <div class="form-group bold">
            <label class="col-md-1">登録者</label>
            <label id="insUser"></label>
        </div>
        <div class="form-group bold">
            <label class="col-md-1">見積工数</label>
            <label id="estimate" class="font-normal"></label>人日
        </div>
        <div class="form-group bold">
            <label class="col-md-1">受注金額</label>
            <label id="totalSales" class="font-normal money"></label>円
        </div>
        <div class="form-group bold">
            <label class="col-md-1">発注元</label>
            <label id="customer"></label>
        </div>
        <div class="form-group bold">
            <label class="col-md-1">エンドユーザー名</label>
            <label id="endUser"></label>
        </div>
        <div class="form-group bold">
            <label class="col-md-1">売上金額</label>
            <label id="totalIndividualSales" class="font-normal money"></label>円
        </div>
        <div class="form-group bold">
            <label class="col-md-1">支払金額</label>
            <label id="totalPayment" class="font-normal money"></label>円
        </div>
        <div class="form-group bold">
            <label class="col-md-1">消費税率</label>
            <label id="taxRate" class="font-normal"></label>
        </div>
        <div class="form-group bold">
            <label class="col-md-1">原価合計</label>
            <label id="totalCost" class="font-normal money"></label>円
        </div>
        <div class="form-group bold">
            <label class="col-md-1">予定粗利</label>
            <label id="grossProfit" class="font-normal money"></label>円
        </div>
        <div class="form-group bold">
            <label class="col-md-1">予定粗利率</label>
            <label id="grossProfitRate" class="font-normal"></label>
        </div>

        <hr />

        <div class="form-group bold">
            <label>アサイン一覧</label>
        </div>
        <div class="display-list">
            <div class="col-left">
                <table class="tb-ma-left tb-detail">
                    <tr class="tb-header">
                        <th>ユーザー名</th>
                    </tr>
                    <tr class="tr-total">
                        <td colspan="2">合計</td>
                    </tr>
                </table>
            </div>
            <div class="col-center">
                <table class="tb-ma-center tb-detail">
                    <tr class="tb-header month-colum"></tr>
                    <tr class="tr-total"></tr>
                </table>
            </div>
            <div class="col-right">
                <table class="tb-ma-right tb-detail">
                    <tr class="tb-header">
                        <th class="center">合計</th>
                    </tr>
                    <tr class="tr-total">
                        <td class="right">
                            @Html.Label("", "0", new { @class = "font-normal" })
                            @Html.Label("", "人日", new { @class = "" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />

        <div class="form-group bold">
            <label>売上一覧</label>
        </div>
        <div class="display-list">
            <div class="col-left col-ma-sales">
                <table class="tb-ma-sales-left tb-detail">
                    <tr class="tb-header">
                        <th>ユーザー名</th>
                    </tr>
                    <tr class="tr-total">
                        <td>合計</td>
                    </tr>
                </table>
            </div>
            <div class="col-center">
                <table class="tb-ma-sales-center tb-detail">
                    <tr class="tb-header month-colum"></tr>
                    <tr class="tr-total"></tr>
                </table>
            </div>
            <div class="col-right">
                <table class="tb-ma-sales-right tb-detail">
                    <tr class="tb-header">
                        <th class="center">
                            合計<br />売上 / 予定原価
                        </th>
                    </tr>
                    <tr class="tr-total">
                        <td class="right">
                            <div class="div-sales">
                                <div>
                                    @Html.Label("", "0", new { @class = "font-normal total-ma-sales money" })
                                    @Html.Label("", "円 /", new { style = "margin-right: 4px;", @class = "" })

                                </div>
                                <div>
                                    @Html.Label("", "0", new { @class = "font-normal total-plan-cost money" })
                                    @Html.Label("", "円", new { @class = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />

        <div class="form-group bold">
            <label>発注先一覧</label>
        </div>
        <div class="display-list">
            <div class="col-left">
                <table class="tb-sc-left tb-detail">
                    <tr class="tb-header">
                        <th>発注先</th>
                        <th>担当者</th>
                    </tr>
                    <tr class="tr-total">
                        <td colspan="2">合計</td>
                    </tr>
                </table>
            </div>
            <div class="col-center">
                <table class="tb-sc-center tb-detail">
                    <tr class="tb-header month-colum"></tr>
                    <tr class="tr-total"></tr>
                </table>
            </div>
            <div class="col-right">
                <table class="tb-sc-right tb-detail">
                    <tr class="tb-header">
                        <th class="center">合計</th>
                    </tr>
                    <tr class="tr-total">
                        <td class="right">
                            @Html.Label("", "0", new { @class = "font-normal money" })
                            @Html.Label("", "円", new { @class = "" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />

        <div class="form-group bold">
            <label>諸経費一覧</label>
        </div>
        <div class="display-list form-group">
            <div class="col-left">
                <table class="tb-ovc-left tb-detail">
                    <tr class="tb-header">
                        <th>種別</th>
                        <th>詳細</th>
                        <th>担当者</th>
                    </tr>
                    <tr class="tr-total">
                        <td colspan="3">合計</td>
                    </tr>
                </table>
            </div>
            <div class="col-center">
                <table class="tb-ovc-center tb-detail">
                    <tr class="tb-header month-colum"></tr>
                    <tr class="tr-total"></tr>
                </table>
            </div>
            <div class="col-right">
                <table class="tb-ovc-right tb-detail">
                    <tr class="tb-header">
                        <th class="center">合計</th>
                    </tr>
                    <tr class="tr-total">
                        <td class="right">
                            @Html.Label("", "0", new { @class = "font-normal money" })
                            @Html.Label("", "円", new { @class = "" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" id="btnClose" class="btn light" onclick="javacsript: window.close();">閉じる</button>
    </div>
</div>

@Scripts.Render("~/bundles/projectHistory")
