@model ProjectManagementSystem.ViewModels.PMS01002.PMS01002ListViewModel
@using ProjectManagementSystem.Common;
@using ProjectManagementSystem.Resources;

@{
    ViewBag.Title = "ユーザー一覧";
    var currentUser = HttpContext.Current.Session[Constant.SESSION_LOGIN_USER] as LoginUser;
}

@Scripts.Render("~/bundles/dragOn")

<section class="content-header">
    <div class="title">
        <h1 id="title">
            @ViewBag.Title
        </h1>
        @if (currentUser != null && currentUser.PlanFunctionList.Contains(Constant.FunctionID.UserRegist) && currentUser.FunctionList.Contains(Constant.FunctionID.UserRegist))
        {
            <button id="btnCreateNew" class="btn dark btnNew"><i class="btn-icon btn-add"></i>新規作成</button>
            <input type="hidden" id="roleEdit" value="true" />
        }
    </div>

    <div class="search-form">
        <div class="search-condition clearfix">
            <div class="row row-margin-bottom">
                <label class="width-120">ユーザー名</label>
                @Html.TextBoxFor(m => m.Condition.DISPLAY_NAME, new { style = "ime-mode: auto;", maxlength = 50 })

                <label class="width-100">所属</label>
                @Html.DropDownListFor(m => m.Condition.GROUP_ID, Model.GROUP_LIST, "指定なし", new { @class = "grouplist" })

                <label class="width-100">役職</label>
                @Html.DropDownListFor(m => m.Condition.POSITION_ID, Model.POSITION_LIST, "指定なし")
            </div>
            <div class="row">
                <label class="width-120">メールアドレス</label>
                @Html.TextBox(m => m.Condition.MAIL_ADDRESS, new { style = "ime-mode: auto;", @class = "mail_address", maxlength = 100 })

                @if (currentUser != null && currentUser.PlanFunctionList.Contains(Constant.FunctionID.UserList_Admin) && currentUser.FunctionList.Contains(Constant.FunctionID.UserList_Admin))
                {
                    <label class="width-120 delete-include">
                        @Html.CheckBoxFor(m => m.Condition.DELETED_INCLUDE, new { @class = "condition_chkbox" })
                        削除済を含む
                    </label>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.Condition.DELETED_INCLUDE, new { @class = "condition_chkbox", @style = "visibility:hidden" })
                }
                <label class="width-120">
                    @Html.CheckBoxFor(m => m.Condition.RETIREMENT_INCLUDE, new { @class = "condition_chkbox" })
                    退職済を含む
                </label>
            </div>
        </div>

        <form id="formDetail" class="frmExport" method="POST" action="@Url.Action("ExportCsvListUser", "PMS01002")">
            <input id="search_userName" name="search_userName" type="hidden">
            <input id="search_groupId" name="search_groupId" type="hidden">
            <input id="search_positionId" name="search_positionId" type="hidden">
            <input id="search_email" name="search_email" type="hidden">
            <input id="search_deleteFlag" name="search_deleteFlag" type="hidden" value="false">
            <input id="search_retirementFlag" name="search_retirementFlag" type="hidden" value="false">
            @Html.Hidden("hdnOrderBy", "upd_date")
            @Html.Hidden("hdnOrderType", "desc")
            <input id="tabId" name="TAB_ID" type="hidden" />
        </form>
        <div class="right search-action">
            <button type="button" id="btnSearch" name="btnSearch" class="btn dark"><i class="btn-icon btn-search"></i>検索</button>
            <button type="button" id="btnClear" name="btnClear" class="btn light"><i class="btn-icon btn-clear"></i>クリア</button>
        </div>
    </div>
</section>
@RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

<div class="data-list user-list content special-list clearfix" style="visibility:hidden">
    <div class="div-left">
        <table class="dataTable tb-left" width="100%">
            <thead>
                <tr>
                    <th class="sorting_disabled cell_center">No.</th>
                    <th class="display_name sorting cell_left" aria-valuetext="display_name" tabindex="0">ユーザー名</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="div-right">
        <table id="InfoTable" class="tb-right tbl-user-list scrollalble" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>No.</th>
                    <th aria-valuetext="display_name">ユーザー名</th>
                    <th aria-valuetext="display_name_group">所属</th>
                    <th aria-valuetext="display_name_position">役職</th>
                    <th aria-valuetext="base_unit_cost">基準単価</th>
                    <th aria-valuetext="entry_date">入社年月日</th>
                    <th aria-valuetext="mail_address_1">メールアドレス</th>
                    <th aria-valuetext="is_active">有効/無効</th>
                    <th aria-valuetext="upd_date">更新日時</th>
                    <th aria-valuetext="user_update">更新者</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="search-date">
    <button id="btnExport" type="button" class="btn dark"><i class="btn-icon btn-output-csv"></i>CSV出力</button>
</div>
<form id="formUserEdit" action="/PMS01002/Edit/" method="POST">
    <input type="hidden" id="user-id" name="id" value="1">
</form>
<input type="hidden" id="table_order_columns" value="" />

<script type="text/javascript" charset="utf-8">

    var sort_colum = 0;
    var sort_type = 'asc';
    th_name = "ユーザー名";

    $(function () {
        var uniqueId = "@Guid.NewGuid().ToString()";
        $("#tabId").val(uniqueId);
        SetEventBeforeUnload();
        LoadOldValueOfControls();
        PMS.utility.imeControlNew('#Condition_MAIL_ADDRESS', 'email');
        $('.div-right').dragOn({ easing: false, exclusion: { th: '', id: '.dataTables_length, .dataTables_info, .dataTables_paginate' } });

        $(document).off('#InfoTable tr th');
        $(document).on('click', '#InfoTable tr th:not(.sorting_disabled)', function () {
            var sort_type = $(this).hasClass('sorting_asc') ? 'desc' : 'asc';
            $('input[name="hdnOrderBy"]').val($(this).attr("aria-valuetext"));
            $('input[name="hdnOrderType"]').val(sort_type);
        });

        $(document).off('.dataTable tr th');
        $(document).on('click', '.dataTable tr th:not(.sorting_disabled)', function () {
            var sort_type = $(this).hasClass('sorting_asc') ? 'desc' : 'asc';
            $('input[name="hdnOrderBy"]').val($(this).attr("aria-valuetext"));
            $('input[name="hdnOrderType"]').val(sort_type);
        });

        var oSorting = {
            "bSort": true
        };

        var oPaginate = {
            "bPaginate": true,
            "iDisplayLength": parseInt(@App[ConfigurationKeys.LIST_ITEMS_PER_PAGE]),
            "bStateSave": false
        };

        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("Search", "PMS01002")',
            "fnBeforeSend": beforeSend,
            "fnServerParams": serverParams,
            "fnDrawCallback": displayComplete,
            "fnInitComplete": bindData
        };
        var aoColumnDefs = [
            { "sName": "upd_date", "bVisible": false, "aTargets": [0], "sWidth": "0" },
            { "sName": "upd_date", "bSortable": false, "bVisible": false, "aTargets": [1], "sWidth": "0%", "sClass": "cell_center" },
            { "sName": "display_name", "bVisible": false, "aTargets": [2], "sWidth": "0%", "sClass": "cell_left" },
            { "sName": "display_name_group", "aTargets": [3], "sWidth": "15%", "sClass": "display_name_group cell_left", "mRender": function (data, type, full) { return full[12] == '0' ? PMS.utility.buildColumShortText(data, 'group') : PMS.utility.buildColumShortText(data, 'group delete-row'); } },
            { "sName": "display_name_position", "aTargets": [4], "sWidth": "10%", "sClass": "display_name_position center", "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data, 'position'); } },
            { "sName": "base_unit_cost", "aTargets": [5], "sWidth": "15%", "sClass": "base_unit_cost cell_right", "mRender": function (data, type, full) { return data == "-" ? data : data + '円'; } },
            { "sName": "entry_date", "aTargets": [6], "sWidth": "15%", "sClass": "entry_date cell_center" },
            { "sName": "mail_address_1", "aTargets": [7], "sWidth": "20%", "sClass": "mail_address_1 cell_left", "mRender": function (data, type, full) { return buildMailContent(data); } },
            { "sName": "is_active", "aTargets": [8], "sWidth": "15%", "sClass": "is_active center" },
            { "sName": "upd_date", "aTargets": [9], "sWidth": "15%", "sClass": "upd_date cell_center" },
            { "sName": "user_update", "aTargets": [10], "sClass": "user_update cell_left", "mRender": function (data, type, full) { return buildUpdateUserContent(data); } },
        ];

        function bindData(data) {

            // process status disabled  buttton exportCSV when search data
            if (data.aaData.length == 0) {
                $('#btnExport').addClass('disabled').attr('disabled', 'disabled');
            }
            else {
                $('#btnExport').removeClass('disabled').removeAttr('disabled');
            }

            var htmlLeft = '';

            if (data.aaData.length > 0) {
                for (var i = 0; i < data.aaData.length; i++) {
                    var trClass = 'even';

                    if (i % 2 == 0)
                        trClass = 'odd';

                    if (data.aaData[i][12] == '1')
                        trClass = 'delete-row';
                    htmlLeft += '<tr role="row" class="' + trClass + '">'
                        + ' <td class=" cell_center no">' + data.aaData[i][1] + '</td>'
                        + ' <td class="cell_left user-name"> '
                        + buildLinkContent(data.aaData[i][2], data.aaData[i][0], '')
                        + ' </td> <tr>';
                }
            } else {
                htmlLeft += '<tr role="row" class="odd">'
                    + ' <td colspan="2" class="dataTables_empty">該当データはありません。</td>'
                    + ' <tr>';
            }

            $('table.tb-left tbody').empty().append(htmlLeft);
        }

        function displayComplete() {

            $('.tbl-user-list tr td div.delete-row').each(function () {
                $(this).parents('tr').removeClass().addClass('delete-row');
            });

            if (sort_colum > 2) {
                $('table.tb-left th.display_name').removeClass('sorting_asc sorting_desc').addClass('sorting').removeAttr('aria-sort');
                $('table.tb-right th').removeClass('sorting_asc sorting_desc').addClass('sorting').removeAttr('aria-sort');
                $('table.tb-right').find('th').each(function ($index) {
                    if ($(this).text() == th_name) {
                        $(this).removeClass('sorting sorting_asc sorting_desc').addClass('sorting_' + sort_type);
                        return false;
                    }
                });
            } else if (sort_colum == 2) {
                $('table.tb-right th').removeClass('sorting_asc sorting_desc').addClass('sorting').removeAttr('aria-sort');
                $('table.tb-left th.display_name').removeClass('sorting sorting_asc sorting_desc').addClass('sorting_' + sort_type);
            }

            if ($('.tbl-user-list td.dataTables_empty').length > 0)
                $('.tbl-user-list td.dataTables_empty').text('');

            $('div.user-list').removeAttr('style');
            $("#onloadDiv").hide();
            $('.pace.pace-active').addClass('pace-inactive').removeClass('pace-active');
            $('#btnSearch').removeAttr('disabled');
            custom_order('#InfoTable', 0, 0);
            $('table.tb-right th').unbind('click.DT');
        }

        function buildLinkContent(name, id, classname) {
            if (PMS.utility.checkPermission('#roleEdit')) {
                var s = '<a title="' + name + '" href="#" user-id = "' + id + '" class="user-edit-link ' + classname + '">' + '<label class="longtext">' + name + '</label></a>';
            } else {
                var s = '<label class="longtext">' + name + '</label>';
            }

            return s;
        }

        function buildMailContent(name) {
            var s = '<a data-overflow="no-dragon" href="mailto:' + name + '" title="' + name + '"> <label class="longtext">' + name + '</label></a>';
            return s;
        }

        function buildUpdateUserContent(name) {
            var s = '<label data-overflow="no-dragon" title="' + name + '"class="longtext">' + name + '</label>';
            return s;
        }

        var dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);

        function beforeSend() {
        }

        function serverParams(aoData) {
            aoData.push(
                { "name": "DISPLAY_NAME", "value": $("#search_userName").val() },
                { "name": "GROUP_ID", "value": $("#search_groupId").val() },
                { "name": "POSITION_ID", "value": $("#search_positionId").val() },
                { "name": "MAIL_ADDRESS", "value": $("#search_email").val() },
                { "name": "DELETED_INCLUDE", "value": $("#search_deleteFlag").val() },
                { "name": "RETIREMENT_INCLUDE", "value": $("#search_retirementFlag").val() },
                { "name": "hdnOrderBy", "value": $("#hdnOrderBy").val() },
                { "name": "hdnOrderType", "value": $("#hdnOrderType").val() },
                { "name": "TAB_ID", "value": $("#tabId").val() }
            );

            if (typeof (colReorder) !== 'undefined') {
                $("#table_order_columns").val(colReorder.fnOrder());
                colReorder.fnReset();
            }
        }

        $("button#btnSearch").click(function () {
            searchUser();
        });

        $(document).bind('keypress', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) { //Enter keycode
                searchUser();
            }
        });

        function searchUser() {
            $('.validation-summary-errors').remove();
            var invalidMess = [];
            // check valid
            var displayName = $('#Condition_DISPLAY_NAME').val();
            var email = $('#Condition_MAIL_ADDRESS').val();

            if (displayName.length > 50) {
                invalidMess.push("@string.Format(Messages.E020, "ユーザー名", "50")");
            }

            if (email.length > 100) {
                invalidMess.push("@string.Format(Messages.E020, "メールアドレス", "100")");
            }

            if (invalidMess.length > 0) {
                PMS.utility.showClientError(invalidMess, '.title');
                return false;
            }

            
            $("#search_userName").val($("#Condition_DISPLAY_NAME").val());
            $("#search_groupId").val($("#Condition_GROUP_ID").val());
            $("#search_positionId").val($("#Condition_POSITION_ID").val());
            $("#search_email").val($("#Condition_MAIL_ADDRESS").val());
            $("#search_deleteFlag").val($("#Condition_DELETED_INCLUDE").prop('checked'));
            $("#search_retirementFlag").val($("#Condition_RETIREMENT_INCLUDE").prop('checked'));

            $('.pace.pace-inactive').removeClass('pace-inactive').addClass('pace-active');
            $("#onloadDiv").show(function () {
                dataTable.fnPageChange('first');
            });
            $('#btnSearch').attr('disabled', 'disabled');
        }

        PMS.utility.validFullHalfSize($("#Condition_MAIL_ADDRESS"));
        PMS.utility.imeControl($("#Condition_DISPLAY_NAME"), 'active');
        PMS.utility.imeControl($("#Condition_MAIL_ADDRESS"), 'disable');

        $("button#btnClear").click(function () {
            $("#Condition_DISPLAY_NAME").val("");
            $("#Condition_GROUP_ID").val("");
            $("#Condition_POSITION_ID").val("");
            $("#Condition_MAIL_ADDRESS").val("");
            $("#Condition_DELETED_INCLUDE").prop('checked', false);
            $("#Condition_RETIREMENT_INCLUDE").prop('checked', false);
            PMS.utility.ClearRestoreData("PMS01002");
        });

        if ($('.company ul li.first').children().hasClass('active') == true) {
            $('.company ul li.first').children().removeClass('active');
        }

        $('button#btnExport').click(function () {
            $("#formDetail").submit();
        });

        $('button#btnCreateNew').click(function () {
            var param = { dataType: '@Constant.LicenseDataType.USER' };
            var valid = PMS.utility.getDataByAjax('/Common/CheckRegistNewData', param);

            if (!valid) {
                PMS.utility.showMessageDialog('<i class="fa fa-warning"></i>', '@string.Format(Messages.E067, "ユーザー")');
                return false;
            }

            window.location.href = '/PMS01002/Edit';
        });

        if (!PMS.utility.checkPermission('#roleEdit')) {
            $('#btnCreateNew').attr('style', 'visibility:hidden');
        }

        $(document).off('.user-edit-link');
        $(document).on('click', '.user-edit-link', function () {
            $('#user-id').val($(this).attr("user-id"));
            $("#formUserEdit").submit();
        });

        $(document).off('table.tb-left th.display_name');
        $(document).on('click', 'table.tb-left th.display_name', function () {
            $(this).blur();
            sort_colum = 2;
            sort_type = $(this).hasClass('sorting_asc') ? 'desc' : 'asc';

            dataTable.fnPageChange('first');
            th_name = $(this).text();
        });

        $(document).off('table.tb-right th');
        $(document).on('click', 'table.tb-right th', function () {
            sort_colum = $(this).index() + 3;
            sort_type = $(this).hasClass('sorting_asc') ? 'desc' : 'asc';

            th_name = $(this).text();
            dataTable.fnPageChange('first');
        });
        PMS.utility.LoadSearchCondition();
        
    });

    function LoadOldValueOfControls() {
        var displayName = $('#search_userName').val();
        if (displayName.length > 0) {
            $('#Condition_DISPLAY_NAME').val(displayName);
        }

        var mailAddress = $('#search_email').val();
        if (mailAddress.length > 0) {
            $('#Condition_MAIL_ADDRESS').val(mailAddress);
        }
    }
</script>
