@model ProjectManagementSystem.ViewModels.PMS01001.PasswordReissueViewModel
@using System.Configuration
@using ProjectManagementSystem.Resources;

@{
    ViewBag.Title = "パスワード再発行";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    @using (Html.BeginForm())
    {
        if (TempData["PasswordReissueSucess"] != null)
        {
            <div class="reissueSuccess">
                <h1>パスワード再発行</h1>
                <div class="content">
                    @TempData["PasswordReissueSucess"].ToString()<br />
                    <a>@ConfigurationManager.AppSettings["smtpUser"]</a> からメールで連絡しました。<br />
                    メールが届かない場合はスパムフォルダや迷惑メールフォルダに届いていないか確認してください。<br />
                    企業や組織宛のメールアドレスでメールが届かない場合は、メールシステムやネットワークの管理者にも相談をしてください。<br />
                    上記を試してもメールが届かない場合、お手数ですが登録しているメールアドレスを添えて <a href="mailto:@ConfigurationManager.AppSettings["smtpSupport"]">@ConfigurationManager.AppSettings["smtpSupport"]</a> までお問い合わせください。
                    <br />
                    <br />
                    <a href="@Url.Action("Login", "PMS01001")">ログイン画面へ戻る</a>
                </div>
            </div>

        }
        else
        {
            <div class="box-header">
                <h1>パスワード再発行</h1>
                <div class="title" id="title"></div>
                @Html.ValidationSummary(false)
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label class="lable-bold">パスワードを再発行します。</label>
                    <br />
                    <label class="lable-bold">登録しているメールアドレスを入力して、「送信」ボタンをクリックしてください。</label>
                    <div class="content-control">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-inline", maxlength = 50, @placeholder = "メールアドレス" })
                        <button type="submit" id="Transmission" name="Transmission" class="btn dark btn-margin1"><i class="btn-icon btn-send"></i>送信</button>
                        <button type="button" id="Return" name="Return" class="btn light btn-margin1" onclick='window.location = "@Url.Action("Login", "PMS01001")";'><i class="btn-icon btn-back"></i>戻る</button>
                    </div>
                </div>
            </div><!-- /.box-body -->
        }
    }
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        PMS.utility.imeControl($("#Email"), 'disable');
        PMS.utility.validFullHalfSize($("#Email"));

        $( document ).ready(function() {
            $('body').css("background","#FFFFFF");
        });

        $(document).off('#Transmission');
        $(document).on('click', '#Transmission', function () {
            $('.validation-summary-errors').remove();
            var invalidMess = validateData();
            if (invalidMess.length > 0) {
                PMS.utility.showClientError(invalidMess);
                return false;
            }
            $("#onloadDiv").show();
        });

        function validateData() {
            var invalidMess = [];

            //check email2
            var email = $('#Email').val();
            if(email.length == 0){
                invalidMess.push("@string.Format(Messages.E002, "メールアドレス")");
            }
            else {
                // check max length of tel_no
                if (email.length > 50) {
                    invalidMess.push("@string.Format(Messages.E020, "メールアドレス", "50")");
                }
                // check numberic
                if (!PMS.utility.validEmail(email)) {
                    invalidMess.push("@string.Format(Messages.E003, "メールアドレス")");
                }
            }
            return invalidMess;
        }
    });
</script>
