@model ProjectManagementSystem.ViewModels.PMS01001.RecoverPasswordViewModel

@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="recoverpassword">
    @using (Html.BeginForm())
    {
        if (ViewData["recoverPasswordSucess"] != null) {
            <p>@ViewData["recoverPasswordSucess"]</p>
            <p>@Html.ActionLink("Click here to login page", "Login", "PMS01001");</p>
        }
        else {
            <h5>パスワード再発行</h5>
            <div>
                <p>
                    パスワードを再発行します。
                </p>
                <p>
                    登録しているメールアドレスを入力して、「送信」ボタンをクリックしてください。
                </p>
            </div>
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(m => m.Email, new { @class = "recoverPassword" })
            <button type="submit" id="Transmission" name="Transmission" class="button blue" style="width: 100px; height: 29px;">送信</button>
            @Html.ValidationMessageFor(m => m.Email)
            @Html.ValidationSummary(true)
        }
    }
</div>
