@using System.Configuration
@using ProjectManagementSystem.Resources;
@using ProjectManagementSystem.Common;
@model ProjectManagementSystem.ViewModels.PMS01001.SetNewPasswordViewModel

@{
    ViewBag.Title = "パスワード再発行";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.MessageSuccess != null)
{
    <form id="frmLogin" action="@Url.Action("Login", "PMS01001")"></form>

    <script type="text/javascript">
        $(function () {
            PMS.utility.showMessageDialog(PMS.utility.htmlDecode('@Constant.DialogType.INFORMATION'), '@ViewBag.MessageSuccess', null, '#frmLogin');
        });
    </script>
}
else
{
    using (Html.BeginForm())
    {
        <div class="box box-primary">
            <div class="box-header">
                <h1>@ViewBag.Title</h1>
                <div class="title" id="title"></div>
                @Html.ValidationSummary(false)
            </div><!-- /.box-header -->
            <div class="box-body set-new-pass">
                <div class="form-group">
                    <div class="form-group">
                        <label class="bold">新しいパスワード<span class="requiredField">*</span></label>
                        @Html.PasswordFor(m => m.NewPassword, new { maxlength = 32, @class = "form-inline" })
                    </div>
                    <div class="form-group">
                        <label class="bold">新しいパスワード（確認用）<span class="requiredField">*</span></label>
                        @Html.PasswordFor(m => m.NewPasswordConfirm, new { maxlength = 32, @class = "form-inline" })
                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.PasswordLockTarget)
                        @Html.HiddenFor(m => m.CompanyCode)
                    </div>
                    <div class="form-group">
                        <label></label>
                        <button type="submit" id="Setting" name="Setting" class="btn green btn-margin2"><i class="btn-icon btn-regist"></i>登録</button>
                    </div>

                </div>
            </div><!-- /.box-body -->
        </div>
    }
}
<script type="text/javascript" charset="utf-8">
    $(function () {
        $(document).ready(function () {
            $('body').css("background", "#FFFFFF");
        });

        $(document).off('#Setting');
        $(document).on('click', '#Setting', function () {
            $('.validation-summary-errors').remove();
            var invalidMess = validateData();
            if (invalidMess.length > 0) {
                PMS.utility.showClientError(invalidMess);
                return false;
            }
        });

        function validateData() {
            var flag = 0;
            var invalidMess = [];

            var password = $('#NewPassword').val();
            // check required of password
            if (password.length === 0) {
                invalidMess.push("@string.Format(Messages.E002, "新しいパスワード")");
                flag = 1;
            } else {
                if (password.length < 6) {
                    invalidMess.push("@string.Format(Messages.E023, "新しいパスワード")");
                    flag = 1;
                } else if (password.length > 32) {
                    invalidMess.push("@string.Format(Messages.E020, "新しいパスワード", "32")");
                    flag = 1;
                } else if (!PMS.utility.validAcount(password)) {
                    invalidMess.push("@string.Format(Messages.E003, "新しいパスワード")");
                    flag = 1;
                }
            }

            var confirmPassword = $('#NewPasswordConfirm').val();
            // check required of password
            if (confirmPassword.length === 0) {
                invalidMess.push("@string.Format(Messages.E002, "新しいパスワード（確認用）")");
                flag = 1;
            } else {

                if (confirmPassword.length < 6) {
                    invalidMess.push("@string.Format(Messages.E023, "新しいパスワード（確認用）")");
                    flag = 1;
                } else if (confirmPassword.length > 32) {
                    invalidMess.push("@string.Format(Messages.E020, "新しいパスワード（確認用）", "32")");
                    flag = 1;
                } else if (!PMS.utility.validAcount(confirmPassword)) {
                    invalidMess.push("@string.Format(Messages.E003, "新しいパスワード（確認用）")");
                    flag = 1;
                }

                if (flag == 0 && password !== confirmPassword) {
                    invalidMess.push("@string.Format(Messages.E048)");
                }
            }
            return invalidMess;
        }
    });
</script>
