@using ProjectManagementSystem.Common;
@model ProjectManagementSystem.ViewModels.PMS09002.PMS09002DetailViewModel

@{
    ViewBag.Title = "個人別売上詳細";
    var currentUser = HttpContext.Current.Session[Constant.SESSION_LOGIN_USER] as LoginUser;
    var functionList = currentUser.FunctionList as List<int>;
    var planFunctionList = currentUser.PlanFunctionList as List<int>;
}

<section class="content-header personal-detail-sales-header">
    <h1 id="title">
        @ViewBag.Title
    </h1>
    <div class="search-form">
        <div class="search-condition none-button-search">
            <div class="row row-margin-bottom">
                <div class="col-xs-3">
                    <label class="col-xs-3 bold first">名前</label>
                    <div class="col-xs-9 first">
                        <label class="text-overflow" title="@Model.UserName">@Model.UserName</label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="col-xs-4 bold">売上合計</label>
                    <label class="col-xs-8 total-sales">0</label>
                </div>
                <div class="col-xs-3">
                    <label class="col-xs-4 bold">原価合計</label>
                    <label class="col-xs-8 total-cost">0</label>
                </div>
                <div class="col-xs-3">
                    <label class="col-xs-4 bold">利益合計</label>
                    <label class="col-xs-8 total-profit">0</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="col-xs-4 bold first contact-type-title">契約種別</label>
                    <div class="col-xs-8 first">
                        <label class="text-overflow contact-type-name"></label>
                    </div>
                </div>

                    @if (currentUser != null && @ViewBag.SendFromScreen != "PMS09005")
                    {
                        if ((currentUser.PlanFunctionList.Contains(Constant.FunctionID.BranchList_Admin) && currentUser.FunctionList.Contains(Constant.FunctionID.BranchList_Admin)
                                 || currentUser.PlanFunctionList.Contains(Constant.FunctionID.BranchList) && currentUser.FunctionList.Contains(Constant.FunctionID.BranchList)
                                 || currentUser.PlanFunctionList.Contains(Constant.FunctionID.BranchRegist) && currentUser.FunctionList.Contains(Constant.FunctionID.BranchRegist)))
                        {
                             <label class="bold first contact-type-title text-overflow"  style="margin-left: 29px;">拠点</label>
                            <label class="text-overflow location-name"></label>
                        }
                    }                 
            </div>
        </div>
    </div>
</section>

@RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

<div class="data-list personal-detail-sales content" style="visibility:hidden">
    <table id="InfoTable" class="dataTable" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>プロジェクト名</th>
                <th>売上</th>
                <th>原価</th>
                <th>利益</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="search-date">
    <button id="btnBack" name="btnBack" type="button" class="btn light pull-left btnNoStyleDisable"><i class="btn-icon btn-back"></i>戻る</button>
    <button id="btnExport" name="btnExport" type="button" class="btn dark pull-left"><i class="btn-icon btn-output-csv"></i>CSV出力</button>

    <button type="button" id="btnPrevMonth" name="btnPrevMonth" class="btn light btnNoStyleDisable">前月</button>
    <span class="time-duration"><b id="display_selected_year"></b>年<b id="display_selected_month"></b>月</span>
    <button type="button" id="btnNextMonth" name="btnNextMonth" class="btn light btnNoStyleDisable">翌月</button>
</div>


<form id="frmExportCsv" method="POST" action="@Url.Action("ExportCsv", "PMS09002")" class="frmExport">
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.ContractTypeID)
    @Html.HiddenFor(m => m.TargetYear)
    @Html.HiddenFor(m => m.TargetMonth)
    <input type="hidden" name="sortCol" value="0" />
    <input type="hidden" name="sortDir" value="asc" />
    <input id="tabId" name="TAB_ID" type="hidden" />
</form>

<script type="text/javascript" charset="utf-8">
    $(function () {
        var uniqueId = "@Guid.NewGuid().ToString()";
        $("#tabId").val(uniqueId);
        SetEventBeforeUnload();
        $('#btnBack').attr('disabled', 'disabled');
        SetTargetDate($('#TargetYear').val(), $('#TargetMonth').val());

        var oSorting = {
            "bSort": true
        };
        var oPaginate = {
            "bPaginate": false,
            "iDisplayLength": parseInt(@App[ConfigurationKeys.LIST_ITEMS_PER_PAGE]),
            "bStateSave": false
        };
        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("SalesDetail", "PMS09002")',
            "fnServerParams": serverParams,
            "fnDrawCallback": displayComplete,
            "fnInitComplete": bindData
        };
        var aoColumnDefs = [
            { "sName": "project_name", "bSortable": false, "bVisible": false, "aTargets": [0], "sWidth": "0%", "sClass": "cell_left" },
            { "sName": "project_name", "aTargets": [1], "sWidth": "40%", "sClass": "details_project_name cell_left", "mRender": function (data, type, full) { return PMS.utility.buildColumShortText(data);; } },
            { "sName": "project_sales", "aTargets": [2], "sWidth": "20%", "sClass": "cell_right" },
            { "sName": "actual_cost", "aTargets": [3], "sWidth": "20%", "sClass": "cell_right" },
            { "sName": "profit", "aTargets": [4], "sWidth": "20%", "sClass": "cell_right" }
        ];

        var dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);

        function serverParams(aoData) {
            aoData.push(
                { "name": "UserID", "value": $("#UserID").val() },
                { "name": "SelectedYear", "value": $("#TargetYear").val() },
                { "name": "SelectedMonth", "value": $("#TargetMonth").val() },
                { "name": "ContractTypeID", "value": $("#ContractTypeID").val() },
                { "name": "sortCol", "value": $("#sortCol").val() },
                { "name": "sortDir", "value": $("#sortDir").val() },
                { "name": "TAB_ID", "value": $("#tabId").val() }
            );
        }

        function displayComplete() {
            $('div.personal-detail-sales').removeAttr('style');
            $('#btnPrevMonth').removeAttr('disabled');
            $('#btnNextMonth').removeAttr('disabled');
            $('#btnBack').removeAttr('disabled');
        }

        function bindData(data) {
            $('.total-sales').text(data.totalSales);
            $('.total-cost').text(data.totalCost);
            $('.total-profit').text(data.totalProfit);

            var contactTypeName = PMS.utility.htmlDecode('@Model.ContractTypeName');
            if (contactTypeName.length > 0) {
                var res = contactTypeName.replace(/\,/gi, "、");
                $('.contact-type-name').text(res);
                $('.contact-type-name').attr('title', res);
            }


            var lcationName = PMS.utility.htmlDecode('@Model.LocationName');
            if (lcationName.length > 0) {
                var res = lcationName.replace(/\,/gi, "、");
                $('.location-name').text(res);
                $('.location-name').attr('title', res);
            }
        }

        function SetTargetDate(selected_year, selected_month) {
            $('#TargetMonth').val(selected_month);
            $('#TargetYear').val(selected_year);
            $('#display_selected_year').text(selected_year);

            selected_month = selected_month.length == 1 ? '0' + selected_month : selected_month;
            $('#display_selected_month').text(selected_month);
        }

        $(document).off('#InfoTable thead th');
        $(document).on('click', '#InfoTable thead th', function () {
            var sortCol = $(this).index() + 1;
            var sortDir = 'asc';

            if ($(this).hasClass('sorting_desc'))
                sortDir = 'desc';

            var $form = $('#frmExportCsv');
            $form.children('[name="sortCol"]').val(sortCol);
            $form.children('[name="sortDir"]').val(sortDir);
        });

        $("button#btnNextMonth").click(function () {
            $('#onloadDivSales').show();
            $('#btnNextMonth').attr('disabled', 'disabled');

            var selected_year = $('#TargetYear').val();
            var selected_month = $('#TargetMonth').val();
            if (++selected_month > 12) {
                selected_month = 1;
                selected_year++;
            }

            if (selected_month < 10) {
                selected_month = '0' + selected_month;
            }

            SetTargetDate(selected_year, selected_month);
            dataTable.fnPageChange('first');
        });

        $("button#btnPrevMonth").click(function () {
            $('#onloadDivSales').show();
            $('#btnPrevMonth').attr('disabled', 'disabled');

            var selected_year = $('#TargetYear').val();
            var selected_month = $('#TargetMonth').val();
            if (--selected_month < 1) {
                selected_month = 12;
                selected_year--;
            }
            if (selected_month < 10) {
                selected_month = '0' + selected_month;
            }
            SetTargetDate(selected_year, selected_month);
            dataTable.fnPageChange('first');
        });
    });

    $("button#btnBack").click(function () {
        PMS.utility.SetButtonBackSession();
        var previousPage = "@ViewBag.SendFromScreen";
        window.location = previousPage;
    });

    $("button#btnExport").click(function () {
        $('#frmExportCsv').submit();
    });
</script>
